body{
  background-color: rgb(239, 146, 146);
}

h1{
  font-family: sans-serif;
  text-align: center;
  margin: 40px;
}

.list-group{
  text-align: center;
}

.pokemon-button{
  font-size: 1.5rem;
  width: 30%;
  padding: 20px;
  margin: 5px;
  border-radius: 5%;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pokemon-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}